body{
    background-color: #0b0e14;
}

navbar{
    height: 10vh;
    width: 99vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#nav-space{
    height: 10vh;
    width: 99vw;
    background-color: #0a0e16;
    /* color: #4a236e; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
}

#name-box{
    color: antiquewhite;
}

#logo{
    height: 50%;
    width: 13%;
    margin: 1%;
    padding: 0.3%;
    background-color: transparent;
    color: #a855f7;
    text-align: center;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: xx-large;
    font-weight: 900;
}

#sub-choose{
    height: 1.5rem;
    width: 10%;
    border: 1px solid #96929c;
    border-radius: 8px;
    background-color: #0f131c;
    color: bisque;
    margin-left: 10%;
}

#sub-enter{
    height: 1.5rem;
    width: 5%;
    border: transparent;
    border-radius: 8px;
    background-color: #7330f0;
    margin-left: 5px;
    transition: transform 0.5s ease;
}

#name-box{
    margin: 1.8%;
    margin-left: 40%;
}

#logout{
    height:63%;
    width: 7%;
    margin: 1%;
    border: 4px solid red;
    border-radius: 24px;
    background-color: transparent;
    color: red;
    transition: transform 0.6s ease;
}

#hero-section{
    height: 123vh;
    width: 85vw;
    margin: 7%;
    padding: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score-space{
    margin: 3%;
    height: 60vh;
    width: 60vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.info-box{
    height: 130%;
    width: 30%;
    border-top: 4px solid #4f7df3;
    border-radius: 11px;
    background-color: #141c2b;
    color: #a855f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    transition: transform 0.7s ease;
}

#menu-heading{
    width: 90%;
    color: wheat;
    border-bottom: 1px solid #96929c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#task-status{
    height: 49%;
    width: 19%;
    border-radius: 22px;
    background-color: #314569;
    color: #5d8fecdd;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-section{
    height: 100vh;
    width: 60vw;
    margin: 5%;
    border-radius: 17px;
    background-color: #141c2b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#task-input{
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5;
}

#task-box{
    height: 7vh;
    width: 37vw;
    border: 1px solid #96929c;
    border-radius: 8px;
    background-color: #0f131c;
    color: bisque;
}

#add-task{
    height: auto;
    width: 17%;
    border: transparent;
    border-radius: 12px;
    background-color: #7330f0;
    margin-left: 8px;
    transition: transform 0.5s ease;
}

#task-space {
    height: 400px;           
    width: 90%;             
    overflow-y: auto;      
    padding: 10px;
    margin: 5 auto;
}

#logout:hover{ 
    background-color: rgba(230, 75, 75, 0.915);
    color: whitesmoke;
    cursor: pointer; 
    transform: scale(1.1);
}

#sub-enter:hover{
    cursor: pointer; 
    transform: scale(1.05);
}

.info-box:hover{ 
    background-color: #1c283fe0;
    cursor: pointer; 
    transform: scale(1.1);
}

#add-task:hover{ 
    cursor: pointer; 
    transform: scale(1.1);
}